.main{
    display: flex;
    justify-content: center;
    margin-top: 18vh;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}

.form input[type=text]{
    border:none;
    outline: none;
    font-size: 1.1vmax;
    /* border-bottom: 3px solid rgb(238, 40, 100); */
    padding: 10px;
    margin: 7px 0;
    width: 18vw;
    border-radius: 8px;
    box-shadow: 3px 3px 8px black;
}

.form input:focus{
    border: 2px solid rgb(238, 40, 100);
}

.form textarea{
    border:none;
    outline: none;
    font-size: 1.1vmax;
    /* border-bottom: 3px solid rgb(238, 40, 100); */
    padding: 10px;
    margin: 7px 0;
    width: 18vw;
    height: 9vh;
    border-radius: 8px;
    box-shadow: 3px 3px 8px black;
}

.form textarea:focus{
    border: 2px solid rgb(238, 40, 100);
}

.form select{
    border:none;
    outline: none;
    font-size: 1.1vmax;
    /* border-bottom: 3px solid rgb(238, 40, 100); */
    padding: 10px;
    margin: 7px 0;
    width: 18vw;
    border-radius: 8px;
    box-shadow: 3px 3px 8px black;
}

.form select:focus{
    border: 2px solid rgb(238, 40, 100);
}

.form button[type=submit]{
    background-color: rgb(247, 68, 122); /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 3px 3px 8px black
}
.form button:hover{
    background-color: rgb(238, 40, 100)
}

.form button:active{
    transform:translateY(4px)
}

.form button[type=button]{
    background-color: white; /* Green */
  border: 1px solid rgb(238, 40, 100);
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 3px 3px 8px black
}
.form button:hover{
    background-color: rgb(238, 40, 100);
    color:white
}

.form button:active{
    transform:translateY(4px)
}

.form p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
