.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    background-color: #333;
  }
  
  
  .nav .li {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 18px;
    text-decoration: none;
  }

 .nav .li:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: rgb(238, 40, 100);
  }