.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: black;
    margin: 10px;
    width: 30vw;
    height: 10vh;
    transition: 0.4s;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.task p{
    margin: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.task:hover{
    cursor: pointer;
background-color: rgb(238, 40, 100);
color: white;
}

.circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(58, 60, 61);
    margin-left: -14px;
}

.circle p{
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
}

.stat{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 31vw;
    background-color: white;
    box-shadow: 3px 3px 8px black ;
    border-radius: 5px;
}

.stat img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}