p {
    margin: 0;
}

.main {
    background-color: white;
    margin: 10px;
    width: 280px;
    height: 220px;
    box-shadow: 5px 5px 8px rgb(164, 164, 164);
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 20px;
    height: 25%;
}

.title p {
    font-size: 1.2em;
    font-weight: bold;
}

.edit,
.delete {
    color: rgb(71, 70, 70);
    font-size: 1.2em;
    margin: 0 3px;
}

.desc_deadline_wrapper {
    height: 75%;
    padding: 10px 20px;
}

.desc {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deadline {
    height: 15%;
    font-size: 0.9em;
    text-align: center;
    color: gray;
}